* {
    box-sizing: border-box;
}

.title {
    font-family: 'Jua', sans-serif;
    font-size: 50px;
    color: red;
}

.header {
    display: flex;
    font-family: 'Jua', sans-serif;
    background-color: #F2DC97;
    height: 70px;
}

.contact {
    display: flex;
    font-size: 25px;
    justify-content: flex-end;
    font-family: 'Jua', sans-serif;
}

.about {
    font-family: 'Jua', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
}

.footer {
    display: flex;
    align-items: flex-end;
}